## Import Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [95]:
df = pd.read_csv('../data/final_data.csv')
df.head()

,id,conversation_id,created_at,date,time,timezone,user_id,username,name,place,...,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest,emoji_count,country
0,1590841293047201797,1590841293047201797,2022-11-11 06:58:15 PST,2022-11-11,06:58:15,800,350172089,dyadav79,dyadav@gmail.com,NaN,...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,0,India
1,1590809231175057409,1590809231175057409,2022-11-11 04:50:51 PST,2022-11-11,04:50:51,800,1421192870,shamitaharsh,Shamita Harsh,NaN,...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,0,India
2,1590779888348573696,1590779888348573696,2022-11-11 02:54:15 PST,2022-11-11,02:54:15,800,1356150453277323264,shivam_dwivedii,Shivam Dwivedi,NaN,...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,0,India
3,1590772740008517632,1590769151110705152,2022-11-11 02:25:51 PST,2022-11-11,02:25:51,800,1585136338201821184,tanzil_mansuri1,Tanzil Mansuri,NaN,...,NaN,NaN,NaN,"[{'screen_name': 'SophiaKianni', 'name': 'Soph...",NaN,NaN,NaN,NaN,0,India
4,1590746473347571719,1590746473347571719,2022-11-11 00:41:28 PST,2022-11-11,00:41:28,800,487662656,swatibhalla23,Swati Bhalla,NaN,...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,0,India

In [96]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62751 entries, 0 to 62750
Data columns (total 38 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               62751 non-null  int64
 1   conversation_id  62751 non-null  int64
 2   created_at       62751 non-null  object
 3   date             62751 non-null  object
 4   time             62751 non-null  object
 5   timezone         62751 non-null  int64
 6   user_id          62751 non-null  int64
 7   username         62751 non-null  object
 8   name             62751 non-null  object
 9   place            87 non-null     object
 10  tweet            62751 non-null  object
 11  language         62751 non-null  object
 12  mentions         62751 non-null  object
 13  urls             62751 non-null  object
 14  photos           62751 non-null  object
 15  replies_count    62751 non-null  int64
 16  retweets_count   62751 non-null  int64
 17  likes_count      62751 non-null  int64
 18  hashtags         62751 non-null  object
 19  cashtags         62751 non-null  object
 20  link             62751 non-null  object
 21  retweet          62751 non-null  bool
 22  quote_url        5195 non-null   object
 23  video            62751 non-null  int64
 24  thumbnail        17266 non-null  object
 25  near             0 non-null      float64
 26  geo              62751 non-null  object
 27  source           0 non-null      float64
 28  user_rt_id       0 non-null      float64
 29  user_rt          0 non-null      float64
 30  retweet_id       0 non-null      float64
 31  reply_to         62751 non-null  object
 32  retweet_date     0 non-null      float64
 33  translate        0 non-null      float64
 34  trans_src        0 non-null      float64
 35  trans_dest       0 non-null      float64
 36  emoji_count      62751 non-null  int64
 37  country          62751 non-null  object
dtypes: bool(1), float64(9), int64(9), object(19)
memory usage: 17.8+ MB

In [3]:
len(df)-len(df.drop_duplicates())

47997

In [31]:
df[df.duplicated(['tweet'])]

,id,conversation_id,created_at,date,time,timezone,user_id,username,name,place,...,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest,emoji_count,country
59,1590601766567301121,1590601766567301121,2022-11-10 15:06:27 PST,2022-11-10,15:06:27,800,1239058556449505282,dishac03,Di$ha Chauhan #savesoil,NaN,...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,0,India
60,1590601700456693761,1590601700456693761,2022-11-10 15:06:11 PST,2022-11-10,15:06:11,800,1239058556449505282,dishac03,Di$ha Chauhan #savesoil,NaN,...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,0,India
143,1590215816792145921,1590215816792145921,2022-11-09 13:32:50 PST,2022-11-09,13:32:50,800,1239058556449505282,dishac03,Di$ha Chauhan #savesoil,NaN,...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,0,India
144,1590215751465832448,1590215751465832448,2022-11-09 13:32:34 PST,2022-11-09,13:32:34,800,1239058556449505282,dishac03,Di$ha Chauhan #savesoil,NaN,...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,0,India
145,1590215691738976256,1590215691738976256,2022-11-09 13:32:20 PST,2022-11-09,13:32:20,800,1239058556449505282,dishac03,Di$ha Chauhan #savesoil,NaN,...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,0,India
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62746,1590782393094443014,1590782243215183886,2022-11-11 03:04:12 PST,2022-11-11,03:04:12,800,30205586,adweek,Adweek,NaN,...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,0,USA
62747,1590722357941112832,1590722357941112832,2022-11-10 23:05:38 PST,2022-11-10,23:05:38,800,1407667894016688129,andresunicef,AndresUNICEF,NaN,...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,0,USA
62748,1588567011289837568,1588212526398971908,2022-11-05 00:21:04 PST,2022-11-05,00:21:04,800,1557830907137908736,thealbinauric,Alma,NaN,...,NaN,NaN,NaN,"[{'screen_name': 'KAMasse81', 'name': 'Keri An...",NaN,NaN,NaN,NaN,0,USA
62749,1589749741105160193,1589749741105160193,2022-11-08 06:40:49 PST,2022-11-08,06:40:49,800,335455570,reutersworld,Reuters World,NaN,...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,0,USA
62750,1590114752541642752,1590114752541642752,2022-11-09 06:51:14 PST,2022-11-09,06:51:14,800,16779600,natmoss,Nat Moss,NaN,...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,0,USA

In [30]:
print(df.duplicated(['tweet']))

0        False
1        False
2        False
3        False
4        False
         ...
62746     True
62747     True
62748     True
62749     True
62750     True
Length: 62751, dtype: bool

In [43]:
df.groupby[df.duplicated(['tweet'])]

,id,conversation_id,created_at,date,time,timezone,user_id,username,name,place,...,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest,emoji_count,country
59,1590601766567301121,1590601766567301121,2022-11-10 15:06:27 PST,2022-11-10,15:06:27,800,1239058556449505282,dishac03,Di$ha Chauhan #savesoil,NaN,...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,0,India
60,1590601700456693761,1590601700456693761,2022-11-10 15:06:11 PST,2022-11-10,15:06:11,800,1239058556449505282,dishac03,Di$ha Chauhan #savesoil,NaN,...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,0,India
143,1590215816792145921,1590215816792145921,2022-11-09 13:32:50 PST,2022-11-09,13:32:50,800,1239058556449505282,dishac03,Di$ha Chauhan #savesoil,NaN,...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,0,India
144,1590215751465832448,1590215751465832448,2022-11-09 13:32:34 PST,2022-11-09,13:32:34,800,1239058556449505282,dishac03,Di$ha Chauhan #savesoil,NaN,...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,0,India
145,1590215691738976256,1590215691738976256,2022-11-09 13:32:20 PST,2022-11-09,13:32:20,800,1239058556449505282,dishac03,Di$ha Chauhan #savesoil,NaN,...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,0,India
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62746,1590782393094443014,1590782243215183886,2022-11-11 03:04:12 PST,2022-11-11,03:04:12,800,30205586,adweek,Adweek,NaN,...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,0,USA
62747,1590722357941112832,1590722357941112832,2022-11-10 23:05:38 PST,2022-11-10,23:05:38,800,1407667894016688129,andresunicef,AndresUNICEF,NaN,...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,0,USA
62748,1588567011289837568,1588212526398971908,2022-11-05 00:21:04 PST,2022-11-05,00:21:04,800,1557830907137908736,thealbinauric,Alma,NaN,...,NaN,NaN,NaN,"[{'screen_name': 'KAMasse81', 'name': 'Keri An...",NaN,NaN,NaN,NaN,0,USA
62749,1589749741105160193,1589749741105160193,2022-11-08 06:40:49 PST,2022-11-08,06:40:49,800,335455570,reutersworld,Reuters World,NaN,...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,0,USA
62750,1590114752541642752,1590114752541642752,2022-11-09 06:51:14 PST,2022-11-09,06:51:14,800,16779600,natmoss,Nat Moss,NaN,...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,0,USA

In [69]:
print(df.duplicated(['id']).value_counts())

True     51052
False    11699
dtype: int64

In [38]:
df.iloc[62749]['tweet']

'at cop climate change framed as battle for survival https t co nwoge tff https t co daokydnigz'

In [86]:
duplicated_tweets = df.groupby(['tweet']).count()

In [87]:
duplicated_tweets

,id,conversation_id,created_at,date,time,timezone,user_id,username,name,place,...,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest,emoji_count,country
tweet,,,,,,,,,,,,,,,,,,,,,
I am all for that the issue is most do not even agree on the problems dems would rather work on a climate change agenda than increase oil production to help lower gas prices they want to push electric cars when we do not even have the infrastructure set up to handle them,10,10,10,10,10,10,10,10,10,0,...,0,0,0,10,0,0,0,0,10,10
I am bob salter here to discuss the dangers of climate change is captain planet captain welcome to the program great to be here bob now tell me about this cartoon series you starred in back in the early s well https t co r q ez w v,5,5,5,5,5,5,5,5,5,0,...,0,0,0,5,0,0,0,0,5,5
I am convinced that we are going to solve global warming through innovation that makes it costless and maybe light regulation there has there is no stomach for heavy regulation and you are never going to get enough people to voluntarily lower their standard of living,4,4,4,4,4,4,4,4,4,0,...,0,0,0,4,0,0,0,0,4,4
I am just a few dozen pages into this and already i feel like she has she is resituating the conceptual material and the subject object distinctions in ways that will help us sublate both the categories and their negation by covid and climate change https t co svarjm w,12,12,12,12,12,12,12,12,12,0,...,0,0,0,12,0,0,0,0,12,12
I am just glad we all finally agree climate change is fake and was just a money scam,10,10,10,10,10,10,10,10,10,0,...,0,0,0,10,0,0,0,0,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
zelenskiy world needs honesty we must tell those who do not take the climate agenda seriously that they are making a catastrophic mistake,6,6,6,6,6,6,6,6,6,0,...,0,0,0,6,0,0,0,0,6,6
zelenskyy it is impossible to buy off the destruction of the climate why do we keep talking about it every year why instead of report on what has been done the same forecast and appeals are made every year,6,6,6,6,6,6,6,6,6,0,...,0,0,0,6,0,0,0,0,6,6
zelenskyy reveals how much forest destroyed by russia s war and accuses putin of disrupting global climate action https t co d gi mjm,3,3,3,3,3,3,3,3,3,0,...,0,0,0,3,0,0,0,0,3,3
zone climate control heated front seats led headlights and rear parking sensors,6,6,6,6,6,6,6,6,6,0,...,0,0,0,6,0,0,0,0,6,6
zxr king charles egg thrower revealed as climate protester https t co on jjvcyo,1,1,1,1,1,1,1,1,1,0,...,0,0,0,1,0,0,0,0,1,1

In [90]:
duplicated_tweets.sort_values(by='id', ascending=False).head(15)

,id,conversation_id,created_at,date,time,timezone,user_id,username,name,place,...,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest,emoji_count,country
tweet,,,,,,,,,,,,,,,,,,,,,
elimination of energy and environmental regulations would maximize energy production and minimize inflation their is no climate change problem for the long term,203,203,203,203,203,203,203,203,203,0,...,0,0,0,203,0,0,0,0,203,203
climate change,115,115,115,115,115,115,115,115,115,0,...,0,0,0,115,0,0,0,0,115,115
savesoil cpsavesoil journeyforsoil sadhgurujv savesoilsaveme letsmakeithappen climatechange wethechangenow savesoildelhi,107,107,107,107,107,107,107,107,107,0,...,0,0,0,107,0,0,0,0,107,107
the world is running out of time to fight global challenges lindner and will you support reforms to multilateral development banks that would free up billions of dollars for low income countries to tackle climate change and more,37,37,37,37,37,37,37,37,37,0,...,0,0,0,37,0,0,0,0,37,37
today cop kicks off in egypt ifrc asks below from world leaders to fight climatechange https t co cloyuzgfl,33,33,33,33,33,33,33,33,33,0,...,0,0,0,33,0,0,0,0,33,33
the democrats also support going to war with china they supported the war in iraq they supported the afghanistan invasion and they are not going to do anything about climate change something that will kill billions,32,32,32,32,32,32,32,32,32,0,...,0,0,0,32,0,0,0,0,32,32
climate change,32,32,32,32,32,32,32,32,32,0,...,0,0,0,32,0,0,0,0,32,32
the gop denying climate science https t co djxxlwknr reality of climate change https t co q tbqnepey transformtorenewablesenergyeconomy renewablesandconservationthroughenduseefficiency worldclimatecitizen,31,31,31,31,31,31,31,31,31,0,...,0,0,0,31,0,0,0,0,31,31
our undp survey recently reported that of young people under the age in kyrgyzstan consider that the climatechange is a serious global problem in climateaction we are all accountable and responsible read the op ed,29,29,29,29,29,29,29,29,29,0,...,0,0,0,29,0,0,0,0,29,29
climatechange globalwarming,28,28,28,28,28,28,28,28,28,0,...,0,0,0,28,0,0,0,0,28,28
i think politicians on both sides have got it wrong housing shortage children being raised in shelters adult children moving back home priced out from where they work mental health what happens to our autistic children when they age out and climate change,28,28,28,28,28,28,28,28,28,0,...,0,0,0,28,0,0,0,0,28,28
climatechange cop gaboninaction,28,28,28,28,28,28,28,28,28,0,...,0,0,0,28,0,0,0,0,28,28
this is about us kyrgyzstan climatechange,27,27,27,27,27,27,27,27,27,0,...,0,0,0,27,0,0,0,0,27,27
cost of living and climate are higher global priorities than ukraine poll finds gpwx globalwarming climatechange,27,27,27,27,27,27,27,27,27,0,...,0,0,0,27,0,0,0,0,27,27
sadly dontlookup shows us everything that we are doing wrong about climate change to a t,26,26,26,26,26,26,26,26,26,0,...,0,0,0,26,0,0,0,0,26,26

In [89]:
duplicated_tweets[duplicated_tweets['id'] == 203]

,id,conversation_id,created_at,date,time,timezone,user_id,username,name,place,...,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest,emoji_count,country
tweet,,,,,,,,,,,,,,,,,,,,,
elimination of energy and environmental regulations would maximize energy production and minimize inflation their is no climate change problem for the long term,203,203,203,203,203,203,203,203,203,0,...,0,0,0,203,0,0,0,0,203,203

In [68]:
df[df['tweet'] == 'climatechange globalwarming']

Empty DataFrame
Columns: [id, conversation_id, created_at, date, time, timezone, user_id, username, name, place, tweet, language, mentions, urls, photos, replies_count, retweets_count, likes_count, hashtags, cashtags, link, retweet, quote_url, video, thumbnail, near, geo, source, user_rt_id, user_rt, retweet_id, reply_to, retweet_date, translate, trans_src, trans_dest, emoji_count, country]
Index: []

[0 rows x 38 columns]

In [91]:
df_ph = df[df['country'] == 'Philippines']
df_ph

,id,conversation_id,created_at,date,time,timezone,user_id,username,name,place,...,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest,emoji_count,country
10974,1590711897262723072,1590711897262723072,2022-11-10 22:24:04 PST,2022-11-10,22:24:04,800,233871880,humanaspain,Humana Spain,NaN,...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,0,Philippines
10975,1590675848704688128,1590675848704688128,2022-11-10 20:00:50 PST,2022-11-10,20:00:50,800,1156042360955928576,oyununicef,Oyun Dendevnorov,NaN,...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,0,Philippines
10976,1590659460136980482,1590659460136980482,2022-11-10 18:55:42 PST,2022-11-10,18:55:42,800,1022789026485428224,tdh_asia,Terre des hommes Asia,NaN,...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,0,Philippines
10977,1590655660936814593,1590655660936814593,2022-11-10 18:40:37 PST,2022-11-10,18:40:37,800,367622019,dazzlelabapis,Dazzle Labapis,NaN,...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,0,Philippines
10978,1590645365728227328,1590645365728227328,2022-11-10 17:59:42 PST,2022-11-10,17:59:42,800,313180874,ntfp_ep,NTFP-EP Asia,NaN,...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,0,Philippines
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18735,1579303404874395649,1579303404874395649,2022-10-10 10:50:48 PST,2022-10-10,10:50:48,800,35093853,borneogeek,Borneo ï£¿ Geek,NaN,...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,0,Philippines
18736,1576003130881282048,1576003130881282048,2022-10-01 08:16:41 PST,2022-10-01,08:16:41,800,1504671250668433409,paraderochord,CHORD PARADERO,NaN,...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,0,Philippines
18737,1572207972146876421,1572207972146876421,2022-09-20 20:56:05 PST,2022-09-20,20:56:05,800,193653724,asianpeoplesmvt,APMDD,NaN,...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,0,Philippines
18738,1567912750374068224,1567912750374068224,2022-09-09 00:28:24 PST,2022-09-09,00:28:24,800,1102137891323428864,clariopenticum,ðŸ”±ðŸŒˆ,NaN,...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,0,Philippines
18739,1567762504276910080,1567762504276910080,2022-09-08 14:31:23 PST,2022-09-08,14:31:23,800,932540248650784769,direk_ezra,ez,NaN,...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,0,Philippines

In [93]:
duplicated_tweets_ph = df_ph.groupby(['tweet']).count()

In [97]:
duplicated_tweets_ph.sort_values(by='id', ascending=False).head(5)

,id,conversation_id,created_at,date,time,timezone,user_id,username,name,place,...,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest,emoji_count,country
tweet,,,,,,,,,,,,,,,,,,,,,
pursuant to proclamation no s november to of every year has been declared as the global warming and climate change consciousness week,16,16,16,16,16,16,16,16,16,0,...,0,0,0,16,0,0,0,0,16,16
the proclamation aims to create awareness on global warming and climate change by pursuing broad and intensive public information and educational campaigns to secure the collective cooperation of private and public sectors at all levels in finding solutions to this concern,16,16,16,16,16,16,16,16,16,0,...,0,0,0,16,0,0,0,0,16,16
climatechange cop gaboninaction,16,16,16,16,16,16,16,16,16,0,...,0,0,0,16,0,0,0,0,16,16
at this point it should be clear to everyone that addressing climate change should also be a priority for the country dingdongdantes said following the onslaught of paengph https t co u y dsbgf,15,15,15,15,15,15,15,15,15,0,...,0,0,0,15,0,0,0,0,15,15
cost of living and climate are higher global priorities than ukraine poll finds gpwx globalwarming climatechange,14,14,14,14,14,14,14,14,14,0,...,0,0,0,14,0,0,0,0,14,14

## Retweet counts

In [ ]:
replies_count    62751 non-null  int64  
 16  retweets_count   62751 non-null  int64  
 17  likes_count

In [109]:
drop_duplicated_tweets = df.drop_duplicates(subset = ['replies_count'])
drop_duplicated_tweets

,id,conversation_id,created_at,date,time,timezone,user_id,username,name,place,...,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest,emoji_count,country
0,1590841293047201797,1590841293047201797,2022-11-11 06:58:15 PST,2022-11-11,06:58:15,800,350172089,dyadav79,dyadav@gmail.com,NaN,...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,0,India
11,1590713990191411203,1590713990191411203,2022-11-10 22:32:23 PST,2022-11-10,22:32:23,800,3329090498,wemeantoclean,We Mean To Clean,NaN,...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,0,India
110,1590307924374872065,1590307924374872065,2022-11-09 19:38:50 PST,2022-11-09,19:38:50,800,958321402402111488,pradipburmanind,Pradip Burman,NaN,...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,0,India
136,1590233426615226369,1590233426615226369,2022-11-09 14:42:48 PST,2022-11-09,14:42:48,800,104101777,ssachinmadan,Sachin Madan,NaN,...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,0,India
387,1589135967629508608,1589135967629508608,2022-11-06 14:01:54 PST,2022-11-06,14:01:54,800,2587650134,poornimashresth,Poornima Shrestha,NaN,...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,0,India
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46906,1588493272036642816,1588493272036642816,2022-11-04 19:28:03 PST,2022-11-04,19:28:03,800,807095,nytimes,The New York Times,NaN,...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,0,USA
47924,1588737888925229057,1588737888925229057,2022-11-05 11:40:04 PST,2022-11-05,11:40:04,800,807095,nytimes,The New York Times,NaN,...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,0,USA
49350,1588224098403897344,1588224098403897344,2022-11-04 01:38:27 PST,2022-11-04,01:38:27,800,807095,nytimes,The New York Times,NaN,...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,0,USA
52364,1589438235297603586,1589438235297603586,2022-11-07 10:03:00 PST,2022-11-07,10:03:00,800,14159148,un,United Nations,NaN,...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,0,USA
58340,1588743155200860162,1588743155200860162,2022-11-05 12:01:00 PST,2022-11-05,12:01:00,800,14159148,un,United Nations,NaN,...,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN,0,USA

In [110]:
replies_count = drop_duplicated_tweets[['tweet', 'replies_count', 'likes_count', 'retweets_count']]
replies_count.sort_values(by = 'replies_count', ascending = False).head(20)

,tweet,replies_count,likes_count,retweets_count
36077,elon musk the free market entrepreneur savior ...,2130,11647,1213
28674,i was proud to join you and a democratic ticke...,558,1510,322
33307,theres a better more stable future ahead if we...,521,1537,369
28902,ah no sorry not voting for a party that dimin...,316,77,4
10572,i have left for egypt to attend malawi is one ...,285,545,71
10667,i have left for egypt to attend malawi is one ...,284,545,71
27844,president volodymyr zelensky of ukraine on tue...,233,1404,280
32302,climate activists glued their hands to paintin...,184,152,61
32487,in new jersey climate change education is inte...,175,311,42
47924,the biden administration will give money to fi...,117,688,209
2111,louise has just been remanded to prison after ...,112,392,167
31343,again tom fitton is a election conspiracist cl...,109,4704,733
27953,republicans told gen z what books they can rea...,103,2055,498
30062,many of the world s most visited glaciers incl...,102,402,236
11749,small island nations want china india to pay f...,93,1263,116
12106,tree planting even if massive isnt what we nee...,86,353,54
27622,our capacity to tackle climatechange depends o...,77,163,79
49350,in opinion times opinion asked readers what is...,72,70,17
36268,the un secretary general called on china and t...,70,218,69
52364,we are on site amp ready for the un climate co...,69,388,112

In [104]:
replies_count = df[['tweet', 'replies_count', 'likes_count', 'retweets_count']]
replies_count.sort_values(by = 'replies_count', ascending = False).head(20)

,tweet,replies_count,likes_count,retweets_count
61588,elon musk the free market entrepreneur savior ...,2130,11647,1213
39597,elon musk the free market entrepreneur savior ...,2130,11647,1213
46860,elon musk the free market entrepreneur savior ...,2130,11647,1213
36990,elon musk the free market entrepreneur savior ...,2130,11647,1213
36077,elon musk the free market entrepreneur savior ...,2130,11647,1213
42921,i was proud to join you and a democratic ticke...,558,1510,322
55676,i was proud to join you and a democratic ticke...,558,1510,322
28674,i was proud to join you and a democratic ticke...,558,1510,322
55937,i was proud to join you and a democratic ticke...,558,1510,322
33410,i was proud to join you and a democratic ticke...,558,1510,322
40946,i was proud to join you and a democratic ticke...,558,1510,322
59258,theres a better more stable future ahead if we...,521,1537,369
33307,theres a better more stable future ahead if we...,521,1537,369
48908,theres a better more stable future ahead if we...,521,1537,369
58702,theres a better more stable future ahead if we...,521,1537,369
42665,ah no sorry not voting for a party that dimin...,316,77,4
28902,ah no sorry not voting for a party that dimin...,316,77,4
59695,ah no sorry not voting for a party that dimin...,316,77,4
10572,i have left for egypt to attend malawi is one ...,285,545,71
10667,i have left for egypt to attend malawi is one ...,284,545,71

In [105]:
likes_count = df[['tweet', 'replies_count', 'likes_count', 'retweets_count']]
likes_count.sort_values(by = 'likes_count', ascending = False).head(20)

,tweet,replies_count,likes_count,retweets_count
61588,elon musk the free market entrepreneur savior ...,2130,11647,1213
36990,elon musk the free market entrepreneur savior ...,2130,11647,1213
46860,elon musk the free market entrepreneur savior ...,2130,11647,1213
39597,elon musk the free market entrepreneur savior ...,2130,11647,1213
36077,elon musk the free market entrepreneur savior ...,2130,11647,1213
31343,again tom fitton is a election conspiracist cl...,109,4704,733
47374,again tom fitton is a election conspiracist cl...,109,4704,733
54212,again tom fitton is a election conspiracist cl...,109,4703,733
36466,this hasnt gotten a ton of attention but last ...,37,4373,250
54309,this hasnt gotten a ton of attention but last ...,37,4373,250
38208,this hasnt gotten a ton of attention but last ...,37,4373,250
34937,this hasnt gotten a ton of attention but last ...,37,4372,250
60060,this hasnt gotten a ton of attention but last ...,37,4372,250
28358,this hasnt gotten a ton of attention but last ...,37,4372,250
35491,this hasnt gotten a ton of attention but last ...,37,4372,250
42658,this hasnt gotten a ton of attention but last ...,37,4372,250
61259,this hasnt gotten a ton of attention but last ...,37,4372,250
51822,this hasnt gotten a ton of attention but last ...,37,4372,250
29730,this hasnt gotten a ton of attention but last ...,37,4372,250
59727,this hasnt gotten a ton of attention but last ...,37,4372,250

In [106]:
retweets_count = df[['tweet', 'replies_count', 'likes_count', 'retweets_count']]
retweets_count.sort_values(by = 'retweets_count', ascending = False).head(20)

,tweet,replies_count,likes_count,retweets_count
10709,went on kementerian alam sekitar and air s fac...,46,1752,1422
61588,elon musk the free market entrepreneur savior ...,2130,11647,1213
36077,elon musk the free market entrepreneur savior ...,2130,11647,1213
46860,elon musk the free market entrepreneur savior ...,2130,11647,1213
39597,elon musk the free market entrepreneur savior ...,2130,11647,1213
36990,elon musk the free market entrepreneur savior ...,2130,11647,1213
47374,again tom fitton is a election conspiracist cl...,109,4704,733
54212,again tom fitton is a election conspiracist cl...,109,4703,733
31343,again tom fitton is a election conspiracist cl...,109,4704,733
60182,i wonder if people who never lived in a world ...,65,3226,575
31038,i wonder if people who never lived in a world ...,65,3226,575
50413,i wonder if people who never lived in a world ...,65,3222,574
54681,i wonder if people who never lived in a world ...,65,3223,574
30345,i wonder if people who never lived in a world ...,65,3223,574
34907,i wonder if people who never lived in a world ...,65,3216,574
28636,i wonder if people who never lived in a world ...,65,3216,574
57825,i wonder if people who never lived in a world ...,65,3214,572
46113,i wonder if people who never lived in a world ...,65,3214,572
33107,i wonder if people who never lived in a world ...,65,3208,571
45011,i wonder if people who never lived in a world ...,65,3207,570